.node-red/.flows.json.backup
[{"id":"dc518c2e.fdc4a","type":"tab","label":"Coronavirus","disabled":false,"info":""},{"id":"96c2bb52.2163b8","type":"tab","label":"api","disabled":false,"info":""},{"id":"a3b00bae.d7b3c8","type":"ui_tab","z":"","name":"Covid19 Tableau de bord","icon":"fa-desktop","order":2,"disabled":false,"hidden":false},{"id":"1de39252.048cde","type":"ui_group","z":"","name":"Coronavirus au Sénégal","tab":"a3b00bae.d7b3c8","order":1,"disp":false,"width":"6","collapse":false},{"id":"22bc493a.bc6386","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Tableau de bord - Coronavirus au Sénégal","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d6bb89d3.f1dea8","type":"ui_group","z":"","name":"Coronavirus, la situation au Sénégal","tab":"a3b00bae.d7b3c8","order":2,"disp":true,"width":"10","collapse":false},{"id":"f1babe0b.884ee","type":"ui_group","z":"","name":"Coronavirus au Sénégal","tab":"8488d1da.1e687","order":3,"disp":true,"width":"6","collapse":false},{"id":"99e3237e.2a2b1","type":"ui_link","z":"","name":"Télécharger","link":"https://github.com/genova/covid19","icon":"fa-download","target":"newtab","order":4},{"id":"8488d1da.1e687","type":"ui_tab","z":"","name":"Covid19 Tableau de bord","icon":"fa-mobile","order":1,"disabled":false,"hidden":false},{"id":"d1eb9599.2ee7b8","type":"ui_link","z":"","name":"Soutenir","link":"https://www.buymeacoffee.com/51JrBtX","icon":"fa-space-shuttle","target":"newtab","order":3},{"id":"45b57c22.667044","type":"ui_group","z":"","name":"Geo","tab":"a3b00bae.d7b3c8","order":3,"disp":false,"width":"6","collapse":false},{"id":"edeed78b.a2efb8","type":"ui_gauge","z":"dc518c2e.fdc4a","name":"","group":"1de39252.048cde","order":2,"width":0,"height":0,"gtype":"gage","title":"Cas actuellement hospitalisés","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#e6e600","#e67d00","#ca3838"],"seg1":"","seg2":"","x":750,"y":440,"wires":[]},{"id":"f03a401.4683dc","type":"csv","z":"dc518c2e.fdc4a","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":550,"y":1180,"wires":[["88772a83.81cd18","ee12618a.35529","ffa0c936.db4ae8","c71bfe6.77ca3","c813f324.ae521","b590cee4.302f7","9f3bfccb.b2da7","249875fd.3e506a","2a396555.09ff8a"]]},{"id":"c6f1c869.3fef58","type":"inject","z":"dc518c2e.fdc4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":1220,"wires":[["3f285f11.daddb"]]},{"id":"88772a83.81cd18","type":"function","z":"dc518c2e.fdc4a","name":"","func":"let labels = msg.payload.map(item => item.date);\nlet data = msg.payload.map(item => item.cas);\nmsg.payload =[{\n    \"series\": [ \"Cas\" ],\n    \"data\": [ data ],\n    \"labels\": labels\n}]\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":980,"wires":[[]]},{"id":"508f6792.c83768","type":"http in","z":"96c2bb52.2163b8","name":"","url":"/api/cas","method":"get","upload":false,"swaggerDoc":"","x":230,"y":220,"wires":[["5b4b66ed.e12b68"]]},{"id":"bfa7d3a8.d2077","type":"change","z":"96c2bb52.2163b8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":220,"wires":[["573d37a8.9ea308"]]},{"id":"573d37a8.9ea308","type":"http response","z":"96c2bb52.2163b8","name":"","x":730,"y":220,"wires":[]},{"id":"852fc4db.e57948","type":"ui_text","z":"dc518c2e.fdc4a","group":"1de39252.048cde","order":4,"width":0,"height":0,"name":"Guéri","label":"Total Cas Guéris","format":"{{msg.payload}}","layout":"col-center","x":670,"y":340,"wires":[]},{"id":"de2cb764.755f28","type":"ui_text","z":"dc518c2e.fdc4a","group":"1de39252.048cde","order":3,"width":0,"height":0,"name":"Cas","label":"Total Cas confirmés","format":"{{msg.payload}}","layout":"col-center","x":670,"y":180,"wires":[]},{"id":"51051524.89a68c","type":"ui_text","z":"dc518c2e.fdc4a","group":"1de39252.048cde","order":5,"width":0,"height":0,"name":"Morts","label":"Total Morts","format":"{{msg.payload}}","layout":"col-center","x":670,"y":740,"wires":[]},{"id":"1ae3347b.c0488c","type":"csv","z":"dc518c2e.fdc4a","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":470,"y":1900,"wires":[["d8c9a51.c675e58"]]},{"id":"3f05bd94.7d4712","type":"inject","z":"dc518c2e.fdc4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"15","x":110,"y":1960,"wires":[["4cffc973.4b93d8"]]},{"id":"d8c9a51.c675e58","type":"function","z":"dc518c2e.fdc4a","name":"Preparation Carte","func":"let pourcentage = (msg.payload.cas*100)/global.get('casTotal');\nmsg.payload.lat = msg.payload.lat;\nmsg.payload.lon = msg.payload.lon;\nmsg.payload.name = msg.payload.district;\nmsg.payload.layer = \"covid19\";\nmsg.payload.radius = 1000*pourcentage;\nmsg.payload.clickable = true;\nmsg.payload.stroke = false;\nif (pourcentage<1){\n    msg.payload.fillOpacity = 1;\n}else if(pourcentage<5) {\n    msg.payload.fillOpacity = 0.8;\n}else if(pourcentage<10) {\n    msg.payload.fillOpacity = 0.6;\n}else if(pourcentage<25) {\n    msg.payload.fillOpacity = 0.5;\n}else if(pourcentage<50) {\n    msg.payload.fillOpacity = 0.4;\n}else{\n    msg.payload.fillOpacity = 0.3;\n}\nmsg.payload.popup = msg.payload.cas+\" cas\";\nmsg.payload.fillColor = \"#ff0000\";\n\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1960,"wires":[["d2562bc1.ebd458","fab50498.46e248","2db30644.a7a7ca"]]},{"id":"d2562bc1.ebd458","type":"ui_worldmap","z":"dc518c2e.fdc4a","group":"d6bb89d3.f1dea8","order":2,"width":0,"height":0,"name":"","lat":"14.594216","lon":"-14.782104","zoom":"7","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/mapBureau","x":970,"y":1920,"wires":[]},{"id":"55935d15.3d7354","type":"ui_gauge","z":"dc518c2e.fdc4a","name":"","group":"f1babe0b.884ee","order":2,"width":0,"height":0,"gtype":"gage","title":"Cas actuellement hospitalisés","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e67d00","#ca3838"],"seg1":"","seg2":"","x":750,"y":480,"wires":[]},{"id":"5a8d6cb1.ce2094","type":"ui_text","z":"dc518c2e.fdc4a","group":"f1babe0b.884ee","order":3,"width":0,"height":0,"name":"Cas","label":"Total Cas confirmés","format":"{{msg.payload}}","layout":"col-center","x":670,"y":140,"wires":[]},{"id":"28693676.f59f5a","type":"ui_text","z":"dc518c2e.fdc4a","group":"f1babe0b.884ee","order":4,"width":0,"height":0,"name":"Guéri","label":"Total Cas Guéris","format":"{{msg.payload}}","layout":"col-center","x":670,"y":300,"wires":[]},{"id":"8dfd39fe.a4b748","type":"ui_text","z":"dc518c2e.fdc4a","group":"f1babe0b.884ee","order":5,"width":0,"height":0,"name":"Morts","label":"Total Morts","format":"{{msg.payload}}","layout":"col-center","x":670,"y":700,"wires":[]},{"id":"a3397c0d.b7095","type":"ui_chart","z":"dc518c2e.fdc4a","name":"","group":"f1babe0b.884ee","order":9,"width":6,"height":10,"label":"Nouveaux Cas","chartType":"horizontalBar","legend":"true","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#e5de1f","#097479","#9467bd","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":1160,"wires":[[]]},{"id":"fab50498.46e248","type":"ui_worldmap","z":"dc518c2e.fdc4a","group":"f1babe0b.884ee","order":11,"width":6,"height":4,"name":"mapMobile","lat":"14.594216","lon":"-14.782104","zoom":"6","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":970,"y":2000,"wires":[]},{"id":"27685d91.bc2532","type":"ui_button","z":"dc518c2e.fdc4a","name":"","group":"f1babe0b.884ee","order":1,"width":0,"height":0,"passthru":false,"label":"Changer l'affichage","tooltip":"","color":"","bgcolor":"","icon":"fa-desktop","payload":"1","payloadType":"num","topic":"","x":150,"y":2280,"wires":[["bf774ac5.958308"]]},{"id":"bf774ac5.958308","type":"ui_ui_control","z":"dc518c2e.fdc4a","name":"","events":"change","x":380,"y":2320,"wires":[[]]},{"id":"c51814ba.498778","type":"ui_button","z":"dc518c2e.fdc4a","name":"","group":"1de39252.048cde","order":1,"width":0,"height":0,"passthru":false,"label":"Changer l'affichage","tooltip":"","color":"","bgcolor":"","icon":"fa-mobile","payload":"0","payloadType":"num","topic":"","x":150,"y":2360,"wires":[["ca1d8d61.1bbea"]]},{"id":"ca1d8d61.1bbea","type":"ui_ui_control","z":"dc518c2e.fdc4a","name":"","events":"all","x":360,"y":2400,"wires":[[]]},{"id":"537814b9.a79d8c","type":"ui_button","z":"dc518c2e.fdc4a","name":"","group":"f1babe0b.884ee","order":13,"width":0,"height":0,"passthru":false,"label":"Télécharger","tooltip":"","color":"","bgcolor":"","icon":"fa-download","payload":"3","payloadType":"num","topic":"","x":140,"y":2440,"wires":[["cd392ca8.ecba7"]]},{"id":"cd392ca8.ecba7","type":"ui_ui_control","z":"dc518c2e.fdc4a","name":"","events":"change","x":360,"y":2480,"wires":[[]]},{"id":"21912180.7f1bce","type":"ui_button","z":"dc518c2e.fdc4a","name":"","group":"45b57c22.667044","order":9,"width":0,"height":0,"passthru":false,"label":"Télécharger","tooltip":"","color":"","bgcolor":"","icon":"fa-download","payload":"3","payloadType":"num","topic":"","x":130,"y":2520,"wires":[["cd392ca8.ecba7"]]},{"id":"83aa52de.80a85","type":"function","z":"dc518c2e.fdc4a","name":"casHospitalises","func":"global.set('casHospitalises',msg.payload);","outputs":0,"noerr":0,"x":700,"y":520,"wires":[]},{"id":"cef9f0d9.b6aa9","type":"function","z":"dc518c2e.fdc4a","name":"casGueris","func":"global.set('casGueris',msg.payload);","outputs":0,"noerr":0,"x":680,"y":380,"wires":[]},{"id":"df7177aa.c47378","type":"function","z":"dc518c2e.fdc4a","name":"casTotal","func":"global.set('casTotal',msg.payload);","outputs":0,"noerr":0,"x":680,"y":220,"wires":[]},{"id":"f2a43cff.6338a","type":"function","z":"dc518c2e.fdc4a","name":"casMorts","func":"global.set('casMorts',msg.payload);","outputs":0,"noerr":0,"x":680,"y":780,"wires":[]},{"id":"5b4b66ed.e12b68","type":"function","z":"96c2bb52.2163b8","name":"","func":"msg.payload = {\n    \"casTotal\":global.get('casTotal'),\n    \"casGueris\":global.get('casGueris'),\n    \"casHospitalises\":global.get('casHospitalises'),\n    \"casMorts\":global.get('casMorts'),\n    \"cas\":global.get('cas'),\n    \"casMap\":global.get('casMap')\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["bfa7d3a8.d2077"]]},{"id":"5712cbfe.a47744","type":"function","z":"dc518c2e.fdc4a","name":"cas","func":"global.set('cas',msg.payload);","outputs":0,"noerr":0,"x":950,"y":1060,"wires":[]},{"id":"2db30644.a7a7ca","type":"function","z":"dc518c2e.fdc4a","name":"casMap","func":"global.set('casMap',msg.payload);","outputs":0,"noerr":0,"x":940,"y":2100,"wires":[]},{"id":"e96fc127.b2f3c","type":"ui_button","z":"dc518c2e.fdc4a","name":"","group":"f1babe0b.884ee","order":14,"width":0,"height":0,"passthru":false,"label":"Merci pour votre soutien !","tooltip":"","color":"","bgcolor":"red","icon":"fa-space-shuttle","payload":"2","payloadType":"num","topic":"","x":180,"y":2620,"wires":[["129d8dad.6fb3a2"]]},{"id":"129d8dad.6fb3a2","type":"ui_ui_control","z":"dc518c2e.fdc4a","name":"","events":"change","x":420,"y":2620,"wires":[[]]},{"id":"e1258435.ce44f8","type":"ui_button","z":"dc518c2e.fdc4a","name":"","group":"45b57c22.667044","order":8,"width":0,"height":0,"passthru":false,"label":"Merci pour votre soutien !","tooltip":"","color":"","bgcolor":"red","icon":"fa-space-shuttle","payload":"2","payloadType":"num","topic":"","x":190,"y":2680,"wires":[["129d8dad.6fb3a2"]]},{"id":"ca264273.723dd","type":"ui_chart","z":"dc518c2e.fdc4a","name":"","group":"45b57c22.667044","order":1,"width":6,"height":6,"label":"Profil-type","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"50","useOneColor":false,"colors":["#e5de1f","#097479","#9467bd","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":1240,"wires":[[]]},{"id":"ee12618a.35529","type":"function","z":"dc518c2e.fdc4a","name":"","func":"let contacts = 0;\nlet importes = 0;\nlet communautaire = 0;\n\nmsg.payload.map(a => contacts += Number(a.contact));\nmsg.payload.map(a => importes += Number(a.importe));\nmsg.payload.map(a => communautaire += Number(a.communautaire));\n\nmsg.payload =[{\n    \"series\": [ \"Origine des Cas\" ],\n    \"data\": [ [importes, contacts, communautaire] ],\n    \"labels\": [ \"Importés\", \"Contacts\", \"Communautaires\" ]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1260,"wires":[["ca264273.723dd","565952d1.ee4a7c"]]},{"id":"f8610bb8.b213b8","type":"debug","z":"dc518c2e.fdc4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1440,"wires":[]},{"id":"9cac8516.231bb8","type":"ui_chart","z":"dc518c2e.fdc4a","name":"","group":"45b57c22.667044","order":2,"width":6,"height":12,"label":"Nouveaux Cas","chartType":"horizontalBar","legend":"false","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#e5de1f","#097479","#9467bd","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":1200,"wires":[[]]},{"id":"ffa0c936.db4ae8","type":"function","z":"dc518c2e.fdc4a","name":"","func":"let cas = msg.payload.map(item => {\n    return { \"x\": item.date, \"y\": item.total}\n});\nlet gueris = msg.payload.map(item => {\n    return { \"x\": item.date, \"y\": item.gueri}\n});\nlet morts = msg.payload.map(item => {\n    return { \"x\": item.date, \"y\": item.mort}\n});\n\nmsg.payload =[{\n    \"series\": [ \"Confirmés\", \"Guéris\", \"Morts\" ],\n    \"data\": [cas, gueris, morts],\n    \"labels\": []\n}]\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1360,"wires":[["f8610bb8.b213b8","961193ea.a5cb5","a8ea8f83.0ed8b"]]},{"id":"961193ea.a5cb5","type":"ui_chart","z":"dc518c2e.fdc4a","name":"","group":"d6bb89d3.f1dea8","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ad1f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":1340,"wires":[[]]},{"id":"a8ea8f83.0ed8b","type":"ui_chart","z":"dc518c2e.fdc4a","name":"","group":"f1babe0b.884ee","order":8,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ad1f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":1380,"wires":[[]]},{"id":"565952d1.ee4a7c","type":"ui_chart","z":"dc518c2e.fdc4a","name":"","group":"f1babe0b.884ee","order":10,"width":6,"height":6,"label":"Profil-type","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"50","useOneColor":false,"colors":["#e5de1f","#097479","#9467bd","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":1280,"wires":[[]]},{"id":"c71bfe6.77ca3","type":"function","z":"dc518c2e.fdc4a","name":"","func":"let labels = msg.payload.map(item => item.date);\nlet contacts = msg.payload.map(item => Number(item.contact));\nlet importes = msg.payload.map(item => Number(item.importe));\nlet communautaires = msg.payload.map(item => Number(item.communautaire));\n\nmsg.payload =[{\n    \"series\": [ \"Importés\", \"Contacts\", \"Communautaires\" ],\n    \"data\": [ importes.slice(0, 15), contacts.slice(0, 15), communautaires.slice(0, 15) ],\n    \"labels\": labels.slice(0, 15)\n}]\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1120,"wires":[["a3397c0d.b7095"]]},{"id":"c813f324.ae521","type":"function","z":"dc518c2e.fdc4a","name":"","func":"let labels = msg.payload.map(item => item.date);\nlet contacts = msg.payload.map(item => Number(item.contact));\nlet importes = msg.payload.map(item => Number(item.importe));\nlet communautaires = msg.payload.map(item => Number(item.communautaire));\n\nmsg.payload =[{\n    \"series\": [ \"Importés\", \"Contacts\", \"Communautaires\" ],\n    \"data\": [ importes.slice(0, 18), contacts.slice(0, 18), communautaires.slice(0, 18) ],\n    \"labels\": labels.slice(0, 18)\n}]\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1180,"wires":[["9cac8516.231bb8"]]},{"id":"b590cee4.302f7","type":"function","z":"dc518c2e.fdc4a","name":"","func":"let labels = msg.payload.map(item => item.date);\nlet contacts = msg.payload.map(item => Number(item.contact));\nlet importes = msg.payload.map(item => Number(item.importe));\nlet communautaires = msg.payload.map(item => Number(item.communautaire));\n\nmsg.payload =[{\n    \"series\": [ \"Importés\", \"Contacts\", \"Communautaires\" ],\n    \"data\": [ importes, contacts, communautaires ],\n    \"labels\": labels\n}]\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1040,"wires":[["5712cbfe.a47744"]]},{"id":"fba1030c.485f4","type":"ui_gauge","z":"dc518c2e.fdc4a","name":"","group":"1de39252.048cde","order":7,"width":"0","height":"0","gtype":"wave","title":"Pourcentage Guéris","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":600,"wires":[]},{"id":"e7785865.0359e8","type":"ui_gauge","z":"dc518c2e.fdc4a","name":"","group":"f1babe0b.884ee","order":7,"width":"0","height":"0","gtype":"wave","title":"Pourcentage Guéris","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":640,"wires":[]},{"id":"3f285f11.daddb","type":"file in","z":"dc518c2e.fdc4a","name":"","filename":"data/covid19.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":1220,"wires":[["f03a401.4683dc"]]},{"id":"9f3bfccb.b2da7","type":"function","z":"dc518c2e.fdc4a","name":"","func":"let laste = msg.payload[0];\nvar msg1 = { payload: laste.total };\nvar msg2 = { payload: laste.gueri };\nvar msg3 = { payload: laste.total - laste.gueri - laste.mort - laste.evacue };\nvar msg4 = { payload: ((laste.gueri*100)/laste.total).toFixed(2) };\nvar msg5 = { payload: laste.mort };\nvar msg6 = { payload: laste.evacue };\nreturn [ msg1, msg2, msg3, msg4, msg5, msg6];","outputs":6,"noerr":0,"x":350,"y":360,"wires":[["df7177aa.c47378","de2cb764.755f28","5a8d6cb1.ce2094"],["28693676.f59f5a","852fc4db.e57948","cef9f0d9.b6aa9"],["55935d15.3d7354","edeed78b.a2efb8","83aa52de.80a85"],["fba1030c.485f4","e7785865.0359e8"],["8dfd39fe.a4b748","51051524.89a68c","f2a43cff.6338a"],["c5af8a90.8e51a8","19af537a.81936d"]],"outputLabels":["total","gueris","hospitalises","tauxGueris","mort","evacue"]},{"id":"4cffc973.4b93d8","type":"file in","z":"dc518c2e.fdc4a","name":"","filename":"data/covid19Geo.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":1980,"wires":[["1ae3347b.c0488c"]]},{"id":"c5af8a90.8e51a8","type":"ui_text","z":"dc518c2e.fdc4a","group":"f1babe0b.884ee","order":6,"width":0,"height":0,"name":"Évacués","label":"Total Évacués","format":"{{msg.payload}}","layout":"col-center","x":680,"y":840,"wires":[]},{"id":"19af537a.81936d","type":"ui_text","z":"dc518c2e.fdc4a","group":"1de39252.048cde","order":6,"width":0,"height":0,"name":"Évacués","label":"Total Évacués","format":"{{msg.payload}}","layout":"col-center","x":680,"y":900,"wires":[]},{"id":"249875fd.3e506a","type":"function","z":"dc518c2e.fdc4a","name":"","func":"let labels = msg.payload.map(item => item.date);\nlet tests = msg.payload.map(item => Number(item.tests));\nlet cas = msg.payload.map(item => Number(item.cas));\n\nmsg.payload =[{\n    \"series\": [ \"Tests\", \"Cas\" ],\n    \"data\": [ tests.slice(0, 15), cas.slice(0, 15) ],\n    \"labels\": labels.slice(0, 15)\n}]\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1440,"wires":[["b88858ff.ff5b98"]]},{"id":"2a396555.09ff8a","type":"function","z":"dc518c2e.fdc4a","name":"","func":"let labels = msg.payload.map(item => item.date);\nlet tests = msg.payload.map(item => Number(item.tests));\nlet cas = msg.payload.map(item => Number(item.cas));\n\nmsg.payload =[{\n    \"series\": [ \"Tests\", \"Cas\" ],\n    \"data\": [ tests.slice(0, 30), cas.slice(0, 30) ],\n    \"labels\": labels.slice(0, 30)\n}]\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1480,"wires":[["ed6aafc7.aa05b"]]},{"id":"ed6aafc7.aa05b","type":"ui_chart","z":"dc518c2e.fdc4a","name":"","group":"1de39252.048cde","order":9,"width":6,"height":18,"label":"Tests Réalisés","chartType":"horizontalBar","legend":"true","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1fbee5","#ff0000","#9467bd","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":1580,"wires":[[]]},{"id":"b88858ff.ff5b98","type":"ui_chart","z":"dc518c2e.fdc4a","name":"","group":"f1babe0b.884ee","order":12,"width":6,"height":"10","label":"Tests Réalisés","chartType":"horizontalBar","legend":"true","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1fbee5","#ff0000","#9467bd","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":1500,"wires":[[]]}]